.experience {
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience-intro {
    margin-bottom: 40px;
    max-width: 800px;
    line-height: 1.7rem;
    font-size: 1.1rem;
}

.experience-intro h1 {
    font-size: 3rem;
}

.experience-content {
    margin-bottom: 100px;
}