.experince-background {
    min-height: 100vh; /* the height of the entire visible screen */
    background-size: cover; /* makes the background have no gaps or strecht weirdly */
    background-position: center; /* positions the image at the center */
    background-repeat: no-repeat; /* if the image was smaller than the screen, repeating it would show multiple copies */

    display: flex; /* positions content on top of background */
    justify-content: center; /* horizontaly centers the content */ 
    align-items: center; /* verticaly centers the content */ 
    padding: 40px 20px; /* prevents text from touching edge of screen on smaller screens */
}

.experience {
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience-intro {
    margin-bottom: 40px;
    max-width: 800px;
    line-height: 1.7rem;
    font-size: 1.1rem;
}

.experience-intro h1 {
    font-size: 3rem;
}

.experience-content {
    margin-bottom: 100px;
}