.custom-navbar {
    background: rgba(209, 237, 255, 0.39);
    backdrop-filter: blur(15px);
    border-bottom: none;
    padding: 8px 16px;
}

.nav-link {
    color: #000000;
    margin-left: 24px;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.2s ease;
}

.nav-link:hover {
    color: #61dafb;
    transform: translateY(-2px);
}

.navbar-toggle {
    border: none; 
}

.navbar-toggler-icon {
    filter: invert(1);
}